{{!< default}}

<header class="gh-index-head">
    <h1 class="page-title mb-3">{{@blog.title}}</h1>
    <h2 class="page-description">{{@blog.description}}</h2>
</header>

<div class="row">
{{#foreach posts}}
    {{> "card"}}
{{/foreach}}
</div>
