/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";


/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fff;
}

.navbar {
    padding: 1rem 1rem;
}

.navbar-brand {
    font-size: 4.6rem;
    letter-spacing: -.5px;
    width: 150px;
    font-weight: 700;
    color: #454545 !important;
    font-family: var(--font-sans-serif);
}

.page-title {
    font-size: 8rem;
}

.navbar .nav-item {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gh-main {
    margin-top: 30px;
}

.gh-page {
    padding: 0 4vw;
}

.gh-article {
    padding-bottom: 30px;
}

.gh-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Index
/* ---------------------------------------------------------- */

.gh-index-head {
    padding: 6vmin 0 4vmin;
    text-align: center;
    margin-bottom: 6rem;
}

.gh-card-link {
    display: flex;
    flex-direction: column;
}

.gh-card-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

@media (max-width: 700px) {
    .navbar-brand {
        width: 100px;
        margin-left: 0px;
        font-size: 3rem;
    }

    .navbar-brand div {
        margin-left: 0px !important;
    }

    .page-title {
        font-size: 4rem;
    }

    .gh-index-head {
        padding: 4vmin 0 4vmin;
        margin-bottom: 4rem;
    }
}

/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
    .card-text {
        max-height: 100px;
    }
}

/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 0 0 8vmin 0;
    text-align: center;
}

.gh-post-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-excerpt {
    margin: 1rem 0 0 0;
}

/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0,0,0,0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}
